:root {
  --widthInput: 200px
}

input {
  width: var(--widthInput);
  border: 1px solid;
}

#caixa-resultado {
  position: absolute;
  display: none;
  border: 1px solid;
  background: white;
  width: var(--widthInput);
}