.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;;
    background-color: #f2f2f2;
  }
  
  form {
    min-width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  form:hover {
    transform: translateY(-8px);
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 24px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 106px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
  }
  
  input[type="text"]:hover,
  input[type="text"]:focus {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #0099ff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0077cc;
  }
  