h1 {
  font-size: 36px;
}


/* Estilos do Produto */
.produtos {
  /* margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
  
}

.product {
  display: inline-flex;
  justify-content: center;
  width: 303px;
  height: 500px;
  margin-right: 5px;
  margin-left: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.418);
  border-radius: 5px;
  overflow: hidden;
  transition: transform .5s ease;
}

.imagem {
  overflow: hidden;
}

.imagem img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform .5s ease;
}

.imagem:hover img {
  transform: scale(1.1);
}

.product-info {
  flex: 1;
  padding: 20px;
  background-color: #ffffff3b;

}

.product:hover {
  transform: scale(1.03);
}

.product h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgba(54, 53, 53, 0.643);
}

.product p {
  margin-bottom: 10px;
  color: rgb(88, 88, 88);
}

.cifrao p,
.cifrao h2,
.cifrao h5 {
  display: inline-block;
}

.cifrao h5 {
  color: rgba(54, 53, 53, 0.643);
  transform: translateY(-2.3px);
  margin-left: 2px;
  text-decoration: line-through;

}

.cifra {
  font-size: 0.7em;
  transform: translateY(-8px);
  color: rgba(54, 53, 53, 0.643);
}

.previous {
  font-size: 0.9em;
  transform: translateY(-2.3px);

}


.avaliacao {
  padding-top: 10px;
}

.valor p {
  color: rgb(158, 158, 158);
  padding-left: 4px;
  font-size: 14px
}

.stars,
.valor {
  display: inline-block;
  font-size: 14px;
  transform: translateY(-10px);
}

.stars i {
  color: rgb(228, 151, 64)
}

.stars .star-vazia {
  color: rgb(172, 171, 171);
}