<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>

    </script>
</head>
<body>
    <form action="home.php" method="post">
        <p><input type="text" name="" id="" placeholder="Nome"></p>
        <p><input type="text" name="" id="" placeholder="Email"></p>
        <p><input type="text" name="" id="" placeholder="Senha"></p>
        <p><input type="text" name="" id="" placeholder="Telefone"></p> <!-- (11) 12345-1234 -->
        <p><input type="text" name="" id="" placeholder="dd/mm/aaaa" required></p>  <!-- dd/mm/aaaa -->
        <!--  maxlength="10" oninput="mascaraData(this)" -->
        <p><input type="text" name="" id="" placeholder="RM"></p>
        <p><input type="text" name="" id="" placeholder="Curso"></p>
        <p><input type="text" name="" id="" placeholder="Série"></p>
        <p><input type="text" name="" id="" placeholder="Ano de ingresso"></p>
        <p><input type="text" name="" id="" placeholder="Período"></p>
        <p><input type="submit" value="Enviar"></p>
    </form>
</body>
</html>